<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>詳細表示</title>
</head>

<body>
    {% extends "base.html" %}
    {% load django_bootstrap5 %}

    {% block content %}
    <h2 class="head_margin">{{ content.id }}の詳細表示</h2>
    <div class="card bg-light shadow-sm mt-3">
        <div class="card-body">
            <p>{{ content.id }}:{{ content.usr_id.name }}:{{ content.tw_date }} {{ content.tw_time }}</p>
            <p>{{ content.content }}</p>
            <a href='{% url "tweetapp:update" content.pk %}'>編集</a>
            <a href='{% url "tweetapp:delete" content.pk %}'>削除</a>
        </div>
    </div>
    <a href='{% url "tweetapp:index" %}'>一覧ページ</a>
    {% endblock %}
</body>

</html>