<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一覧表示</title>
</head>

<body>
    {% extends "base.html" %}
    {% load django_bootstrap5 %}

    {% block content %}
    <h2 class="head_margin">一覧表示</h2>
    {% for c in content %}
    <div class="card bg-light shadow-sm mt-3">
        <div class="card-body">
            <p>{{ c.id }}:{{ c.usr_id.name }}:{{ c.tw_date }} {{ c.tw_time }}</p>
            <a href='{% url "tweetapp:detail" c.id %}'>{{ c.content }}</a>
        </div>
    </div>
    {% endfor %}

    <!-- 新規投稿ボタン -->
    <div class="mt-3">
        <a href="{% url 'tweetapp:create' %}">
            {% bootstrap_button button_type="submit" content="新規投稿" size="md" %}
        </a>
    </div>
    {% endblock %}
</body>

</html>